@import 'fonts';

// colors
$white: #ffff;
$light-grey: #f4f4f4;
$black: #040912;
$background: #d3ae7d;

// fonts
$font-logo: 'Namu';
$font-italic-regular: 'RobotoSerif-RegularItalic';

$font-title-semi-bold: 'RobotoSlab-SemiBold';
$font-title-bold: 'RobotoSlab-Bold';
$font-title-extra-bold: 'RobotoSlab-ExtraBold';

$font-main-bold: 'SkModernist-Bold';
$font-main-regular: 'SkModernist-Regular';

$break-points: (
  extraSmall: 450px,
  small: 750px,
  medium: 1050px,
  large: 1350px,
);

:export {
  whiteColor: $white;
  blackColor: $black;
};
