@use './../../styles/abstracts' as *;

.period-switcher {
  position: absolute;
  bottom: 80vh;
  left: 12vw;
  text-stroke: 1px white;
  -webkit-text-stroke: 1px white;
  color: transparent;
  font-size: 48px;
  font-family: $font-title-extra-bold;
  white-space: nowrap;
  word-break: keep-all;
  cursor: pointer;
  transition: color 500ms linear;
  z-index: 2;

  &.right {
    left: 72vw;

    @include mq(small) {
      left: 78vw;
    }

    @include mq(medium) {
      left: 82vw;
    }
  }

  &.active {
    color: $white;
  }

  @include mq(small) {
    font-size: 100px;
    bottom: 12vh;
    left: 12vw;
  }

  @include mq(medium) {
    font-size: 180px;
    bottom: 6vh;
    left: 12vw;
  }
}
